        <header role="banner" class="page-header">
          <div class="page-header__content-wrapper js-headroom">
            <div class="constrained">
              <div class="page-header__content"><a href="#main" class="page-header__skip-to visuallyhidden-focusable">Hovedinnhold</a>
              <a id="menu-trigger" href="#footer-menu" class="menu-trigger icon--menu-mobile">Meny</a>
              <a href="{{ path( ezpublish.rootLocation ) }}search" class="menu-search-trigger icon--search">Søk</a>
              <a href="{{ path( ezpublish.rootLocation ) }}" class="page-header__logo">
                <img src="{{ asset('bundles/tfkfarte/images/logo/logo.svg') }}" alt="Farte" /></a>
                <nav role="navigation" class="page-header__nav">
                            <ul class="nav nav--small">
                              <li class="nav__item"><a href="#" class="nav__item__link"><abbr class="font-adjust js-font-adjust" title="Hvordan justere tekststørrelsen?"><span class="font-adjust__char--small">a</span> &rarr; <span class="font-adjust__char--large">a</span></abbr></a>
                              </li>
                            </ul>
                </nav>
                <div class="page-header__search">
                {% block searchbox %}
                 {% include 'tfkfarteBundle::page_header_searchbox.html.twig' %}
                {% endblock %}
                </div>
                <div class="font-adjust__message js-font-adjust-message">For å endre tekststørrelsen, hold inne <kbd>Ctrl</kbd> (Windows/Linux) eller <kbd>Cmd</kbd> (Mac) og trykk på <kbd>+</kbd> for å forstørre eller <kbd>-</kbd> for å forminske.</div>
              </div>
            </div>
          </div>
            <nav id="menu" role="navigation" class="menu">
              <div class="constrained">
                <ul class="menu__content menu__level">
                 <!--  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="{{ path( ezpublish.rootLocation ) }}" class="menu__item-link menu__item-link">Forside</a>
                      </div>
                    </div>
                  </li> -->
                <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content menu__item--submenu"><a href="/Rutetabeller" class="menu__item-link menu__item-link--submenu">Rutetabeller</a><span class="icon--menu-arrow-down menu__item__dropdown hide--to-l"></span><span class="icon--menu-arrow-right menu__item__dropdown hide--from-l js-menu-dropdown"></span>
                      </div>
                         {{ render( controller("tfkfarteBundle:Item:mainMenu", {'locationId': '124' } )) }}
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content menu__item--submenu"><a href="/Billetter-og-priser" class="menu__item-link menu__item-link--submenu">Billetter og priser</a><span class="icon--menu-arrow-down menu__item__dropdown hide--to-l"></span><span class="icon--menu-arrow-right menu__item__dropdown hide--from-l js-menu-dropdown"></span>
                      </div>
                         {{ render( controller("tfkfarteBundle:Item:mainMenu", {'locationId': '135' } )) }}
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Reisegaranti" class="menu__item-link">Reisegaranti</a>
                      </div>
                    </div>
                  </li>
                   <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Tapt-og-funnet" class="menu__item-link">Tapt og funnet </a>
                      </div>
                    </div>
                  </li>
                   <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Butikk" class="menu__item-link">Nettbutikk </a>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content menu__item--submenu"><a href="/Kontakt" class="menu__item-link menu__item-link--submenu">Kontakt</a><span class="icon--menu-arrow-down menu__item__dropdown hide--to-l"></span><span class="icon--menu-arrow-right menu__item__dropdown hide--from-l js-menu-dropdown"></span>
                      </div>
                         {{ render( controller("tfkfarteBundle:Item:mainMenu", {'locationId': '143' } )) }}
                    </div>
                  </li>
                 <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Om-farte" class="menu__item-link">Om farte</a>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </nav>
</header>