<div class="grid__item grid__item--4-12 media item item--horizontal">
  <div class="item item--vertical grid__item--12">

    <h1 class="tabs__content__header news"><a href="{{path(location)}}">{{content.getFieldValue('name')}}</a></h1>

    {% set imageId = ez_field_value( content, 'image' ) %}
    {% if imageId is defined and imageId.destinationContentId is not empty %}

      {{ render(
        controller(
            "ez_content:viewContent",
                {
                    "contentId": imageId.destinationContentId,
                    "viewType": "custom",
                    "params": { "img_render_size": "responsive_06" }
                }
        )
      ) }}

    {% endif %}

    {% set showIngress = false %}
    {% if result.totalCount == 1 %}
      {% set showIngress = true %}
    {% endif %}

    {% for item in result.searchHits %}
      {{ render(
           controller(
               "ez_content:viewContent",
               {
                   "contentId": item.valueObject.contentInfo.id,
                   "viewType": "listebokser_item_list",
                   "params": { "showIngress" : showIngress }
               }
          )
      ) }}
    {% endfor %}

    {% if content.getFieldValue('listbox_showmore').bool == '1' %}
      <div class="object-right"><a href="{{path(location)}}">Vis mer</a></div>
    {% endif %}
  </div>
</div>