{% extends noLayout ? viewbaseLayout : "tfkfarteBundle::pagelayout.html.twig" %}

{% block content %}
<div class="content background-front">

  <div class="constrained-content">
  {% include 'tfkfarteBundle:frontpage:reiseplanlegger.html.twig' %}
  </div>

</div>


<div class="constrained-content">
  <div class="campaign-content">
  {{ render(
    controller(
      "ez_content:viewContent",
        {
          "contentId": 195,
          "viewType": "line"
        }
    )
  ) }}
  </div>
</div>


<div class="constrained-content news">



    <div class="grid grid--12">

        <div class="grid__item grid__item--4-12 media item item--horizontal">
          <div class="item item--vertical grid__item--12">

              <h1 class="tabs__content__header news"><span class="ezstring-field">Trafikkmeldinger</span></h1>

            <img src="https://unsplash.it/368/181?image=20" alt="" />

              <div class="line item__content">
                  <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                  </div>
               </div>

               <div class="line item__content">
                   <div class="item__intro">
                      <p><i class="icon warn"></i>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                   </div>
                </div>

                <div class="line item__content">
                    <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                    </div>
                 </div>

            </div>
        </div>


        <div class="grid__item grid__item--4-12 media item item--horizontal">
          <div class="item item--vertical grid__item--12">

              <h1 class="tabs__content__header news"><span class="ezstring-field">Aktuelt</span></h1>

            <img src="https://unsplash.it/368/181?image=42" alt="" />

              <div class="line item__content">
                  <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                  </div>
               </div>

               <div class="line item__content">
                   <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                   </div>
                </div>

                <div class="line item__content">
                    <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                    </div>
                 </div>

            </div>
        </div>


        <div class="grid__item grid__item--4-12 media item item--horizontal">
          <div class="item item--vertical grid__item--12">

              <h1 class="tabs__content__header news"><span class="ezstring-field">Kontakt</span></h1>

            <img src="https://unsplash.it/368/181?image=31" alt="" />

              <div class="line item__content">
                  <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                  </div>
               </div>

               <div class="line item__content">
                   <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                   </div>
                </div>

                <div class="line item__content">
                    <div class="item__intro">
                      <p>
                      <a href="#">
                      Telemark fylkeskommune er stolt eier av farte.no</a>
                      </p>
                    </div>
                 </div>

            </div>
        </div>

    </div>
</div>



<div class="constrained-content">

    <div class="grid pictos grid--12">

          <div class="grid__item grid__item--4-12 media item item--horizontal">
            <div class="item school item--vertical grid__item--12">
              <div class="item-content">
                <h2>Skoleskyss</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
          </div>

          <div class="grid__item grid__item--4-12 media item item--horizontal">
            <div class="item guarantee item--vertical grid__item--12">
              <div class="item-content">
                <h2>Reisegaranti</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
             </div>
          </div>

          <div class="grid__item grid__item--4-12 media item item--horizontal">
            <div class="item truetime item--vertical grid__item--12">
              <div class="item-content white">
                <h2>Meld feil</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
             </div>
          </div>

    </div>

</div>


{#
<div class="constrained-content">

    <div class="grid grid--12">
      <div class="grid__item grid__item--4-12 media item item--horizontal">
       {{ render(
        controller(
          "ez_content:viewContent",
            {
              "contentId": 186,
              "viewType": "line",
              "params": {
                "tabboks_size":"large"
              }
            }
        )
      ) }}
        {{ render( controller("tfkfarteBundle:Item:messages", {'locationId': 189,  'params' : { 'class' : ['article'] , 'viewType': 'list', 'limit': '3' }} )) }}
      </div>
        <div class="grid__item grid__item--4-12 media item item--horizontal">
           {{ render(
        controller(
          "ez_content:viewContent",
            {
              "contentId": 187,
              "viewType": "line",
              "params": {
                "tabboks_size":"large"
              }
            }
        )
      ) }}
        </div>
      <div class="grid__item grid__item--4-12 media item item--horizontal">
       {{ render(
        controller(
          "ez_content:viewContent",
            {
              "contentId": 160,
              "viewType": "line",
              "params": {
                "tabboks_size":"large"
              }
            }
        )
      ) }}
      </div>

  </div>


</div>
#}
{% endblock %}