{% extends "tfkfarteBundle::pagelayout.html.twig" %}

{% set socialUrl = app.request.server.get('REQUEST_SCHEME') ~ 'https://' ~ app.request.server.get('SERVER_NAME') ~ app.request.server.get('REQUEST_URI') %}

{% set hostname = app.request.server.get('REQUEST_SCHEME') ~ 'https://' ~ app.request.server.get('SERVER_NAME') %}


{% set socialIntro = 'Reiseplanlegger for Telemark' %}

{% set socialTitle = ez_content_name( content ) ~ ' - Farte' %}

{% set author = 'Telemark fylkeskommune - Farte' %}

{% block meta %}
    <title>{{ socialTitle }}</title>
    <meta property="og:url" content="{{ socialUrl }}" />
    <meta property="og:type"  content="article" />
    <meta property="og:title"  content="{{ socialTitle }}" />
    <meta property="title"  content="{{ socialTitle }}" />
    <meta property="og:description" content="{{ socialIntro }}" />
    <meta name="description" content="{{ socialIntro }}" />
    <meta property="og:image" content="{{ asset('bundles/tfkfarte/images/logo/logo.png') }}"/>
    <meta name="keywords" content="Telemark, Reise, Buss, Transport, Reiseplanlegger, Rutetabeller, Fylkeskommune, Telemark, ledige, rjukan ,Notodden, Offentlig"/>
        <meta property="og:image" content="{{ hostname }}/{{ asset('bundles/tfkfarte/images/logo/facebook_logo.png') }}"/>
    <meta property="og:image:width" content="1140px"/>
    <meta property="og:image:width" content="480px"/>
{% endblock %}

{% block content %}
<div class="constrained-content">
<div class="content" id="undersider">


<script type="text/javascript">
        /* Demo av Reiseplanlegger i IFrame, fungerer i nettlesere som støtter postMessage API (Testet i IE8+, Chrome, FF, Safari, Opera)*/
        (function (win) {
            function setFrameHeight(evt) {
                var iframe = document.getElementById('travelmagic'),
                    height = parseInt(evt.data, 10);
                if (iframe) {
                    iframe.setAttribute('height', height);
                }
            }
            if (win.addEventListener) {
                win.addEventListener("message", setFrameHeight, false);
            }
            else {
                win.attachEvent("onmessage", setFrameHeight);
            }
        })(window);
    </script>

<div class="fullwidth">
    <h1 id="overskrift-side">Reiseplanlegger</h1>
    <iframe style="overflow:visible;" width="100%" height="1200" src="{{iframeUrl}}" name="travelmagic" id="travelmagic" scrolling="no" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
{% endblock %}